@font-face {
  font-family: 'ricardochcz';
  src:  url('./../assets/fonts/ricardochcz.eot?4ukk65');
  src:  url('./../assets/fonts/ricardochcz.eot?4ukk65#iefix') format('embedded-opentype'),
    url('./../assets/fonts/ricardochcz.ttf?4ukk65') format('truetype'),
    url('./../assets/fonts/ricardochcz.woff?4ukk65') format('woff'),
    url('./../assets/fonts/ricardochcz.svg?4ukk65#ricardochcz') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ricardochcz' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-minus:before {
  content: "\f068";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-user:before {
  content: "\f007";
}
.icon-home:before {
  content: "\f015";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-comment:before {
  content: "\f075";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-code:before {
  content: "\f121";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-bug:before {
  content: "\f188";
}
.icon-slack:before {
  content: "\f198";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-git:before {
  content: "\f1d3";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-area-chart:before {
  content: "\f1fe";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-wikipedia-w:before {
  content: "\f266";
}
.icon-safari:before {
  content: "\f267";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv:before {
  content: "\f26c";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-assistive-listening-systems:before {
  content: "\f2a2";
}
.icon-snapchat-ghost:before {
  content: "\f2ac";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-vue-dot-js:before {
  content: "\e90a";
  color: #4fc08d;
}
.icon-adobeillustrator:before {
  content: "\e90b";
  color: #ff7c00;
}
.icon-csswizardry:before {
  content: "\e914";
  color: #f43059;
}
.icon-dropbox1:before {
  content: "\e91d";
  color: #0061ff;
}
.icon-webpack:before {
  content: "\e924";
  color: #8dd6f9;
}
.icon-javascript:before {
  content: "\e927";
  color: #f7df1e;
}
.icon-gmail:before {
  content: "\e937";
  color: #d14836;
}
.icon-android1:before {
  content: "\e938";
  color: #a4c639;
}
.icon-gitlab1:before {
  content: "\e940";
  color: #e24329;
}
.icon-github:before {
  content: "\e953";
}
.icon-node-dot-js:before {
  content: "\e956";
  color: #393;
}
.icon-kaggle:before {
  content: "\e96e";
  color: #20beff;
}
.icon-wikipedia:before {
  content: "\e972";
}
.icon-npm:before {
  content: "\e975";
  color: #cb3837;
}
.icon-internetexplorer:before {
  content: "\e976";
  color: #0076d6;
}
.icon-angular:before {
  content: "\e983";
  color: #dd0031;
}
.icon-instagram1:before {
  content: "\e992";
  color: #e4405f;
}
.icon-python:before {
  content: "\e9a1";
  color: #3776ab;
}
.icon-blogger:before {
  content: "\e9a8";
  color: #ff5722;
}
.icon-mailchimp:before {
  content: "\e9af";
  color: #239ab9;
}
.icon-inkscape:before {
  content: "\e9d5";
}
.icon-googleplay:before {
  content: "\e9d6";
  color: #607d8b;
}
.icon-wolframmathematica:before {
  content: "\e9f0";
  color: #d10;
}
.icon-html5:before {
  content: "\e9f2";
  color: #e34f26;
}
.icon-googledrive:before {
  content: "\e9fb";
  color: #4386fc;
}
.icon-googleplus:before {
  content: "\e9ff";
  color: #dc4e41;
}
.icon-mongodb:before {
  content: "\ea02";
  color: #47a248;
}
.icon-ubuntu:before {
  content: "\ea04";
  color: #e95420;
}
.icon-unsplash:before {
  content: "\ea0d";
}
.icon-wolfram:before {
  content: "\ea11";
  color: #d10;
}
.icon-microsoftonenote:before {
  content: "\ea13";
  color: #80397b;
}
.icon-pinterest:before {
  content: "\ea18";
  color: #bd081c;
}
.icon-whatsapp:before {
  content: "\ea26";
  color: #25d366;
}
.icon-google1:before {
  content: "\ea27";
  color: #4285f4;
}
.icon-php:before {
  content: "\ea2d";
  color: #777bb4;
}
.icon-mozillafirefox:before {
  content: "\ea2e";
  color: #ff9400;
}
.icon-automatic:before {
  content: "\ea3c";
  color: #7d8084;
}
.icon-microsoftoutlook:before {
  content: "\ea44";
  color: #0072c6;
}
.icon-redux:before {
  content: "\ea49";
  color: #764abc;
}
.icon-windows1:before {
  content: "\ea4f";
  color: #0078d6;
}
.icon-groupon:before {
  content: "\ea52";
  color: #53a318;
}
.icon-youtube:before {
  content: "\ea53";
  color: #f00;
}
.icon-uber:before {
  content: "\ea62";
}
.icon-adobephotoshop:before {
  content: "\ea64";
  color: #00c8ff;
}
.icon-microsoftedge:before {
  content: "\ea6c";
  color: #0078d7;
}
.icon-evernote:before {
  content: "\ea6f";
  color: #00a82d;
}
.icon-linkedin1:before {
  content: "\ea7c";
  color: #0077b5;
}
.icon-googlechrome:before {
  content: "\ea7d";
  color: #4285f4;
}
.icon-react:before {
  content: "\ea7f";
  color: #61dafb;
}
.icon-ko-fi:before {
  content: "\ea80";
  color: #f16061;
}
.icon-twitter1:before {
  content: "\ea81";
  color: #1da1f2;
}
.icon-css3:before {
  content: "\ea94";
  color: #1572b6;
}
.icon-slack1:before {
  content: "\ea9c";
  color: #56b68b;
}
.icon-mysql:before {
  content: "\eaa3";
  color: #4479a1;
}
.icon-skype:before {
  content: "\eaa6";
  color: #00aff0;
}
.icon-glassdoor:before {
  content: "\eaa8";
  color: #0caa41;
}
.icon-wordpress1:before {
  content: "\eaaa";
  color: #21759b;
}
.icon-dot-net:before {
  content: "\eaab";
  color: #5c2d91;
}
.icon-graphql:before {
  content: "\eab1";
  color: #e10098;
}
.icon-nginx:before {
  content: "\eab2";
  color: #269539;
}
.icon-adobeacrobatreader:before {
  content: "\eab6";
  color: #ee3f24;
}
.icon-apple1:before {
  content: "\eab7";
  color: #999;
}
.icon-visualstudiocode:before {
  content: "\eac0";
  color: #007acc;
}
