@font-face {
  font-family: 'ricardochcz';
  src:  url('./../assets/fonts/ricardochcz.eot?18sg4a');
  src:  url('./../assets/fonts/ricardochcz.eot?18sg4a#iefix') format('embedded-opentype'),
    url('./../assets/fonts/ricardochcz.ttf?18sg4a') format('truetype'),
    url('./../assets/fonts/ricardochcz.woff?18sg4a') format('woff'),
    url('./../assets/fonts/ricardochcz.svg?18sg4a#ricardochcz') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ricardochcz' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-connection:before {
  content: "\e945";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-bell:before {
  content: "\e951";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-bug:before {
  content: "\e999";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-eye-minus:before {
  content: "\e9d0";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-heart-broken:before {
  content: "\e9db";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-omega:before {
  content: "\ea66";
}
.icon-sigma:before {
  content: "\ea67";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows1:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-codepen:before {
  content: "\eae8";
}
.icon-adobeillustrator:before {
  content: "\e900";
  color: #ff7c00;
}
.icon-csswizardry:before {
  content: "\e901";
  color: #f43059;
}
.icon-dropbox:before {
  content: "\e903";
  color: #0061ff;
}
.icon-microsoftword:before {
  content: "\e905";
  color: #2b579a;
}
.icon-javascript:before {
  content: "\e907";
  color: #f7df1e;
}
.icon-microsoftexcel:before {
  content: "\e908";
  color: #217346;
}
.icon-java:before {
  content: "\e909";
  color: #007396;
}
.icon-github:before {
  content: "\e90a";
}
.icon-internetexplorer:before {
  content: "\e90b";
  color: #0076d6;
}
.icon-dell:before {
  content: "\e915";
  color: #007db8;
}
.icon-angular:before {
  content: "\e916";
  color: #dd0031;
}
.icon-instagram:before {
  content: "\e917";
  color: #e4405f;
}
.icon-yammer:before {
  content: "\e918";
  color: #0072c6;
}
.icon-python:before {
  content: "\e919";
  color: #3776ab;
}
.icon-jekyll:before {
  content: "\e91a";
  color: #c00;
}
.icon-blogger:before {
  content: "\e91b";
  color: #ff5722;
}
.icon-inkscape:before {
  content: "\e91c";
}
.icon-spotify:before {
  content: "\e91d";
  color: #1ed760;
}
.icon-snapchat:before {
  content: "\e91e";
  color: #fffc00;
}
.icon-wolframmathematica:before {
  content: "\e91f";
  color: #d10;
}
.icon-html5:before {
  content: "\e920";
  color: #e34f26;
}
.icon-googledrive:before {
  content: "\e921";
  color: #4386fc;
}
.icon-googleplus:before {
  content: "\e928";
  color: #dc4e41;
}
.icon-ubuntu:before {
  content: "\e929";
  color: #e95420;
}
.icon-unsplash:before {
  content: "\e92a";
}
.icon-wolfram:before {
  content: "\e92b";
  color: #d10;
}
.icon-facebook:before {
  content: "\e92c";
  color: #3b5998;
}
.icon-microsoftonenote:before {
  content: "\e92d";
  color: #80397b;
}
.icon-vine:before {
  content: "\e935";
  color: #11b48a;
}
.icon-stackoverflow:before {
  content: "\e946";
  color: #fe7a16;
}
.icon-microsoftoutlook:before {
  content: "\e936";
  color: #0072c6;
}
.icon-windows:before {
  content: "\e937";
  color: #0078d6;
}
.icon-adobephotoshop:before {
  content: "\e938";
  color: #00c8ff;
}
.icon-microsoftedge:before {
  content: "\e939";
  color: #0078d7;
}
.icon-linkedin:before {
  content: "\e948";
  color: #0077b5;
}
.icon-googlechrome:before {
  content: "\e93a";
  color: #4285f4;
}
.icon-react:before {
  content: "\e93b";
  color: #61dafb;
}
.icon-twitter:before {
  content: "\e93c";
  color: #1da1f2;
}
.icon-css3:before {
  content: "\e93d";
  color: #1572b6;
}
.icon-mysql:before {
  content: "\e93e";
  color: #4479a1;
}
.icon-dot-net:before {
  content: "\e93f";
  color: #5c2d91;
}
.icon-graphql:before {
  content: "\e940";
  color: #e10098;
}
.icon-nginx:before {
  content: "\e949";
  color: #269539;
}
.icon-apple:before {
  content: "\e941";
  color: #999;
}
.icon-visualstudiocode:before {
  content: "\e94a";
  color: #007acc;
}
