$primary: #2098d1;
$primary-dark: #063256;
$secondary: orange;
$dark: #020a18;
$light: #e9f6fc;
$gradient-dark: #031634;

$opacity: 0.7;

$bp-sm: 576;
$bp-md: 768;
$bp-lg: 992;
$bp-xl: 1200;


$thin: 100;
$regular:300;
$bold:400;