@import "variables.scss";

.form-control{
  background-color: transparent;
  background-image: none;
  border: 0;
  border-bottom: 1px solid $light;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 25px;
  color: white
}

label{
  margin-bottom: 5px;
  font-weight: bold;
  color: $primary
}

.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: #357ebd;
}