@import "../variables.scss";

#particles-js{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #063256;
  background-image: linear-gradient(to bottom right , #031634, $primary);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

h1.home{
  color: $light;
  font-size: 4em;
}

p.description{
  text-align: right;
  font-size: 1.2em;
  font-weight: $regular;
}

.scroll{
  width: 120px;
  height: auto;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* =======================================================================
ANIMATIONS
========================================================================== */

div.animations{
  position: absolute;
  left: 0px;
  top:0px;
  z-index: 3;
  width: 100%;
  height: 100vh;
}

.disapear-content{
  #home-text{
    opacity: 0;
    -webkit-transition: opacity 0.8s; /* Safari */
    transition: opacity 0.8s;
    -webkit-transition-delay: 1.2s; /* Safari */
    transition-delay: 1.2s;
  }
  .scroll{
    opacity: 0;
    -webkit-transition: opacity 0.8s; /* Safari */
    transition: opacity 0.8s;
    -webkit-transition-delay: 0.4s; /* Safari */
    transition-delay: 0.4s;
  }
}

/*SLIDE IN*/
@mixin line-animation($transition){
  width: 6px;
  height: 240px;
  background-color: $secondary;
  position: relative;
  left: calc(50% - 3px);
  top:calc(50% - 120px);
  -webkit-animation-name: $transition;
  -webkit-animation-duration: 3s;
  animation-name: $transition;
  animation-duration: 3s;
}
div.initial-line {
  @include line-animation(slideInFromTop)
}
@keyframes slideInFromTop {
  0%   {background-color:$primary; height: 100px; top:0px;}
  50% {background-color:$light; height:calc(50% + 120px); top:0px;}
  100% {background-color:$secondary; height:240px; top:calc(50% - 120px);}
}

/* FULL OPACITIY*/
div.full-opacity {
  width: 100%;
  height: 100%;
  background-color: #00091a;
  opacity: $opacity;
  position: relative;
  left: 0px;
  top:0px;
  -webkit-animation-name: lineToFull;
  -webkit-animation-duration: 2s;
  animation-name: lineToFull;
  animation-duration: 2s;
}
@keyframes lineToFull {
  0% {
    background-color:$secondary; 
    height:240px; 
    top:calc(50% - 120px);
    width: 6px;
    left: calc(50% - 3px);
    top:calc(50% - 120px);
    opacity: 1;
  }
  70% {
    height: 100%;
    width: 6px;
    background-color: $light;
    left: calc(50% - 3px);
    top:0px;
    opacity: 1;
   }
  100% { 
    opacity:$opacity; 
    left:0; 
    background-color:$dark; 
    width: 100%; 
    border:0px
  }
}

@keyframes lineToFullM {
  0% {
    background-color:$secondary; 
    height:240px; 
    top:calc(50% - 120px);
    width: 6px;
    left: calc(100% - 15px);
    top:calc(50% - 120px);
    opacity: 1;
  }
  70% {
    height: 100%;
    width: 6px;
    background-color: $light;
    left: calc(100% - 15px);
    top:0px;
    opacity: 1;
   }
  100% { 
    opacity:$opacity; 
    left:0; 
    background-color:$dark; 
    width: 100%; 
    border:0px
  }
}

@media screen and (max-width: 768px) {
  .scroll{
    display: none;
  }
  .initial-line{
    left: calc(100% - 15px)!important;
  }
  #home-text{
    h1{
      margin-right: 15px;
      font-size: 3em;
    }
    p{
      margin-right:15px;
      font-size: 0.9em;
    }
  }
  div.full-opacity {
    -webkit-animation-name: lineToFullM;
    -webkit-animation-duration: 2s;
    animation-name: lineToFullM;
    animation-duration: 2s;
  }
}

/*
div.go-back-line{
  @include line-animation(fromFullToOriginal)
}

@keyframes fullToLine {
  0% { 
    border: 0px; 
    width: 100%; 
    height: 100%; 
    left: 0; 
    top:0; 
    background-color:$dark; 
    opacity:$opacity
  }

  30% {
    width: 6px;
    top: 0px;
    height: 100%;
    background-color: $light;
    left: calc(50% - 3px);
  }

  100% {
    background-color:$secondary; 
    height:240px; 
    top:calc(50% - 120px);
    width: 6px;
    left: calc(50% - 3px);
    top:calc(50% - 120px);
  }
}

*/