.swiper-slide{
  overflow: hidden;
}
#portafolio-content{
  position:absolute; 
  top:0;
  left:0; 
  width:100%;
  height:100%;
}

@mixin gadget-wrapper($max) {
  position: absolute;
  top: 50%;
  left: calc(100% - 400px);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0px 20px;
  height: auto;
  max-width: $max;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.mac-wrapper{
  @include gadget-wrapper(600px);
}
.iphone-wrapper{
  @include gadget-wrapper(270px);
}


.mask{
  width: 100%;
  height: auto;
}
.background-mask{
  background-color: black;
  width: calc(78% - 40px);
  height: 84%;
  position: absolute;
  right: calc(10.6% + 20px);
  top: 5%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.iphonescreen-mask{
  background-color: black;
  width: calc(98% - 40px);
  height: 98%;
  border-radius: 45px;
  position: absolute;
  right: calc(1% + 20px);
  top: 1%;
  z-index: -1;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin construct-left-portafolio-section($index){
  padding-top: 80px;
  width: calc(100% - 400px);
  left:0;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: $index;
}

.proyect-description{
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
  @include construct-left-portafolio-section(1)
}

.swiper-slide-active{
  .proyect-description{
    opacity: 1;
  }
  div{
    opacity: 1;
  }
}

.solid-left-back{
  background-color: $dark;
  border-right: 4px solid $primary;
  @include construct-left-portafolio-section(-1)
}

.description-container{
  padding: 0px 20px;
  max-width: 400px;
  margin: auto;
  width: 100%;
  text-align: center;
  li{
    list-style-type: disc;
    color: white;
    display: inherit;
    font-size: 0.9em;
  }
  p{
    margin-bottom: 10px;
  }
  span.link{
    cursor: pointer;
    color: $primary;
    font-weight: $bold;
    cursor: pointer;
  }
}
@mixin construct-bar($backgroundcolor, $textcolor, $border){
  padding-top: 80px;
  max-width: 400px;
  width: 100%;
  right:-400px;
  position: absolute;
  top: 0px;
  background-color: $backgroundcolor;
  height: 100%;
  z-index:20;
  border-left: 4px solid $border;
  -webkit-transition: right 1s; /* For Safari 3.1 to 6.0 */
  transition: right 1s;
  h2{
    color: $textcolor;
  }
  p{
    color:$textcolor;
    text-align: left;
  }
  li{
    color: $textcolor
  }
}

.proyect-details{
  display: none;
  @include construct-bar($primary-dark, $light, $primary)
}

.sidebar{
  .fadelayer{
    background-color: $dark;
    opacity: $opacity;
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
  }
}

.with-sidebar{
  .fadelayer{
    width: 100%;
  }
  .proyect-details{
    display: block;
    right: 0px;
  }
}

.close-bar-button{
  cursor: pointer;
  color: $light;
  font-size: 2.3em;
  padding: 20px;
  color: $primary;
  float: left;
}

@media screen and (max-width: 1360px) {
  .desktop-proyect-wrapper{
    .middle{
      padding-right: 20%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .mac-wrapper{
    transform: translate(-40%, -50%);
  }
}

@media screen and (max-width: 1100px) {
  .mobile-proyect-wrapper{
    .middle{
      padding-right: 20%;
    }
  }
  .mac-wrapper{
    transform: translate(-30%, -50%);
  }
}
@media screen and (max-width: 1000px) {
  .solid-left-back{
    display: none;
  }
  .iphone-wrapper{
    left: 50%;
    transform: translate(20%, -50%);
  }
  .mac-wrapper{
    left: 50%;
    transform: translate(00%, -50%);
    max-width: 50%;
  }
  .proyect-description{
    width: 60%;
  }
  .mobile-proyect-wrapper{
    .middle{
      padding-right: 0;
    }
  }
  .desktop-proyect-wrapper{
    .middle{
      padding-right: 0;
    }
  }
}
@media screen and (max-width: 850px) {
  .mac-wrapper{
    transform: translate(-50%, -50%);
    bottom: 100;
    top: 60%;
    max-width: 600px;
  }
  .desktop-proyect-wrapper{
    .proyect-description{
      width: 100%;
    }
    .middle{
      display: table-cell;
      vertical-align: top;
      padding: 20% 15px 0px!important;
    }
  }
}
@media screen and (max-width: 650px) {
  .description-container{
    max-width: 600px;
  }
  .iphone-wrapper{
    transform: translate(-50%, -50%);
    bottom: 100;
    top: 80%;
  }
  .proyect-description{
    width: 100%;
  }
  .mobile-proyect-wrapper{
    .middle{
      display: table-cell;
      vertical-align: top;
      padding: 120px 15px 0px!important;
    }
  }
}